.floating_action_button_component button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: #fff;
}

.floating_action_button_component button:hover {
  cursor: pointer;
}

.floating_action_button_component {
  display: flex;
  gap: 20px;
}
