.icon_button_component button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  background: none;
  border: none;
}

.icon_button_component button:hover {
  cursor: pointer;
}

.icon_button_component {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
