/* HEADER */
.header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "heading heading navlink navlink"
    "search search search search";
  align-items: center;
  gap: 10px;
  margin: 8px;
}

/* NavLink styling */
.header .link {
  padding: 5px;
  text-decoration: none;
  color: var(--primary-color);
}

/* Heading section */
.header .heading {
  grid-area: heading;
  color: var(--primary-color);
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
}

.header .heading:hover {
  cursor: pointer;
}

/* Search section */
.header .search {
  grid-area: search;
  display: flex;
  justify-content: center;
  width: 100%;
}

.header .search input {
  padding: 5px 10px;
  width: 100%;
}

.header .search button {
  background: var(--primary-color);
  color: #fff;
  border: none;
  padding: 0 10px;
}

.header .search button:hover {
  cursor: pointer;
}

/* Navlink section */
.header .navlink {
  grid-area: navlink;
  display: flex;
  justify-content: end;
}

.header .navlink .link:hover {
  background: var(--primary-color);
  color: #fff;
}

/* HOME */
.home_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: auto;
}

.home_wrapper .title {
  font-weight: bold;
  font-size: x-large;
}

.home_wrapper .description {
  font-size: large;
}

.home_wrapper button {
  width: fit-content;
  padding: 10px 15px;
  background: var(--secondary-color);
  border: none;
  color: white;
  border-radius: 5px;
  font-size: medium;
}

.home_wrapper button:hover {
  cursor: pointer;
  background: var(--primary-color);
}

@media (min-width: 768px) {
  /* HEADER */
  .header {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "heading search navlink";
    margin: 10px;
  }

  .header .heading {
    font-size: x-large;
  }

  .header .navlink {
    gap: 5px;
  }

  .header .navlink .link {
    padding: 10px 15px;
  }

  /* HOME */
  .home_wrapper .title {
    font-size: xx-large;
  }

  .home_wrapper .description {
    font-size: x-large;
  }

  .home_wrapper button {
    font-size: large;
  }
}
