.component_wrapper {
  grid-area: description;
  width: 100%;
  max-width: calc(100vw - 15px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  text-align: left;
}

@media (min-width: 768px) {
  .component_wrapper {
    padding: 0 20px;
  }
}
