:root {
  --primary-color: #a855f7;
  --secondary-color: #c4b5fd;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.App {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
    "header"
    "content"
    "content"
    "content"
    "content"
    "content"
    "content"
    "content";
  height: 100vh;
  margin: 0 auto;
}

.content {
  grid-area: content;
  display: flex;
  margin: 8px;
}

h1 {
  font-size: 1.25rem;
}

h2 {
  font-size: 0.9rem;
}

h3,
p,
button {
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 1.75em;
  }
  h2 {
    font-size: 1.25rem;
  }
  h3,
  p,
  button {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.35rem;
  }
}
