@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --primary-color: #a855f7;
  --secondary-color: #c4b5fd;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 1.25rem;
}

h2 {
  font-size: 0.9rem;
}

h3,
p,
button {
  font-size: 0.8rem;
}

/* SIDEBAR */

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-around;
  align-items: start;
  list-style: none;
  background: #fff;
  margin-bottom: 20px;
}

.sidebar .navlink {
  padding: 10px;
  text-align: left;
  border-radius: 5px;
  text-decoration: none;
  color: var(--primary-color);
}

.sidebar .navlink_select {
  background: var(--primary-color);
  color: #fff;
  font-weight: bold;
}

.sidebar .navlink:hover {
  cursor: pointer;
  background: var(--primary-color);
  font-weight: bold;
  color: #fff;
}

/* APP */

.App {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "header"
    "content"
    "content"
    "content"
    "content"
    "content";
  height: 100vh;
  margin: 0 auto;
  gap: 10px;
}

.content {
  grid-area: content;
  margin: 8px;
}

.content_w_sb {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "sidebar" "description" "description" "description";
}

@media (min-width: 768px) {
  h1 {
    font-size: 1.75em;
  }
  h2 {
    font-size: 1.25rem;
  }
  h3,
  p,
  button {
    font-size: 1rem;
  }

  /* SIDEBAR */

  .sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: start;
    list-style: none;
    background: #fff;
    position: fixed;
    width: 20%;
  }

  .sidebar .navlink {
    width: 100%;
  }

  /* APP */

  .App {
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
      "header"
      "content"
      "content"
      "content"
      "content"
      "content"
      "content"
      "content";
  }

  .content_w_sb {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar description description description description";
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.35rem;
  }
}
